
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      react-dependencies:
        patterns:
          - "react"
          - "react-dom"
          - "next"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
